/*
#8971d0
#ffffff
#a997dd
#FFFFFF
#e6e6e6
#c9bee9
a08dd9
*/

*{
    margin: 4px;
    padding: 4px;
    box-sizing: border-box;
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #c9bee9;
    color:#FFFAFA;
}

header{
    margin: 0;
    border-radius: 5px;
    background: linear-gradient(to right , #8F79D2 2%, #a08dd9 9%);
    color: #FFFFFF;
    text-align: center;
    height: 104px;
    display: flex;
    align-items: center;
    justify-content: left;
}

.logo{
    width: 290px;
    height: 104px;
    background-image: url(imagens/logo-atualizada.png);
    background-size: cover;
    margin-left: 5px;
    border-radius: 15px;
}
    

#pagina-inicial{
    padding: 70px;
    background-image: url(imagens/Imagem-fundo.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#pagina-inicial h1{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    
}

#pagina-inicial p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
    
  }

  #pagina-inicial .cta-button {
    margin: 5px 5px;
    border: 1px solid #d3d3d3;
    border-radius: 20px;
    color: #FFFFFF;
  }

  #pagina-inicial .cta-button:hover {
    background-color: #a08dd9;
  }

  div#fundo{
    background-color: rgba(255, 248, 248, 0.288);
    border-radius: 5px;
  }

.header .logo{
    max-width: 100px;
}

h3{
    color: #fff;
}

h2{
    color: #8F79D2;
}

.cta-button {
    background-color: #a997dd;
    color: #FFFAFA;
    padding: 10px 5px;
    text-decoration: none;
    margin: 10px 0;
    display: inline-block;
    border-radius: 6px;
    transition: 0.3s ease;

}

.cta-button:hover{
    background-color: #c9bee9;
}

#servicos{
    background-color: #FFFAFA;
    padding: 20px;
    margin: 0 auto;
}

#servicos ul{
    list-style-type: none;
}

#servicos li{
    background-color: #a997dd;
    border: 1px solid #d3d3d3;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

#servicos h3{ 
    color: #FFFAFA;
}

footer p{
    background-color: #a08dd9;
    color: #FFFFFF;
    text-align: center;
    height: 40px;
}