/* Estilos do cabeçalho */
header {
  background: linear-gradient(to right, #8F79D2 2%, #a08dd9 9%);
  color: #fff;
  text-align: center;
  height: 104px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  padding: 0 20px;
}

.logo {
  width: 160px;
  height: 80px;
  background-image: url(imagens/logo-atualizada.png);
  background-size: cover;
  border-radius: 8px;
}

#mentopo {
  background-color: #8F79D2;
  padding: 10px 0;
  text-align: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

#mentopo a {
  color: #FFFFFF;
  font-size: 16px;
  text-decoration: none;
  margin: 0 20px;
  padding: 8px 12px;
  border-radius: 6px;
  transition: background-color 0.3s ease;
}

#mentopo a:hover {
  background-color: #a08dd9;
}

#contato {
  padding: 50px;
  text-align: center;
  margin: 20px auto;
  max-width: 800px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.contato-info h2 {
  margin-bottom: 20px;
  color: #8F79D2;
  font-size: 32px;
}

.contato-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contato-form label,
.contato-form input,
.contato-form textarea {
  width: calc(100% - 40px);
  margin-bottom: 20px;
  padding: 14px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.contato-form textarea {
  height: 150px;
}

.cta-button {
  display: inline-block;
  padding: 14px 28px;
  font-size: 18px;
  color: #fff;
  text-decoration: none;
  background-color: #8F79D2;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.cta-button:hover {
  background-color: #a08dd9;
}


@media only screen and (max-width: 768px) {
  header {
    height: auto;
    flex-direction: column;
  }

  .logo {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }

  #mentopo {
    padding: 10px;
  }

  #mentopo a {
    margin: 0 10px;
  }

  #contato {
    padding: 15px;
  }

  .contato-info h2 {
    font-size: 24px;
  }

  .contato-form label,
  .contato-form input,
  .contato-form textarea {
    width: calc(100% - 20px);
  }
}

/* Estilo para o rodapé */
footer {
  text-align: center;
  padding: 20px;
  background-color: #8F79D2;
  color: #fff;
}

/* Para telas médias */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .logo {
    width: 120px;
    height: 60px;
  }

  #mentopo a {
    margin: 0 15px;
  }

  #contato {
    max-width: 600px;
  }
}